.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}


.social-media {
    margin-top: 10px;
}

.social-media a {
    display: inline-block;
    margin: 0 15px;
    font-size: 24px;
    text-decoration: none;
    color: #fff; 
    transition: color 0.3s ease; 
}

.social-media a[aria-label="Instagram"]:hover {
    color: #E1306C; 
}

.social-media a[aria-label="Facebook"]:hover {
    color: #1877F2; 
}

.social-media a[aria-label="Spotify"]:hover {
    color: #1DB954; 
}

.social-media a[aria-label="TikTok"]:hover {
    color: #000000; 
}